#maincontent {
    display: none;
}

/* Login */
.error_message {
    background: darkred;
    color: white;
    padding: 0.2em;
    margin-top: 0.2em;
    display: none;
}

#loginname {
    padding-right: 1em;
    font-weight: bold;
}
.adminonly {
    display: none
}

.Unconfirmed {
    background-color: grey;
    color: white;
}

.Confirmed {
    background-color: green;
    color: white;
}

.Cancelled {
    background-color: darkred;
    color: white;
}

td {
    padding: 0.5em;
}

thead {
    background-color: black;
    color: white;
}

button.answer,button.status {
    width: 100%;
}

